[mypy]
; 同じスコープ内での変数の再定義を禁止します。通常、このような再定義はエラーの原因となります。
allow_redefinition = False

; 型注釈がないグローバル変数の使用を禁止します。型情報が不足している場合、予期しないエラーが生じる可能性があります。
allow_untyped_globals = False

; 型注釈がない関数やメソッドに対して型チェックを行います。
check_untyped_defs = True

; 型注釈の一部が欠けている関数やメソッドの定義を禁止します。
disallow_incomplete_defs = True

; 型注釈がない関数やメソッドの定義を禁止します。
disallow_untyped_defs = True

; 型注釈がない関数やメソッドの呼び出しを禁止します。
disallow_untyped_calls = True

; 型注釈がないデコレータの使用を禁止します。
disallow_untyped_decorators = True

; エラーメッセージの概要を表示します。
error_summary = True

; 型情報がないモジュールのインポートを無視します。多くのサードパーティライブラリは型情報を持っていないため、このオプションが有効になっています。
ignore_missing_imports = True

; 型注釈がない関数やメソッドの再エクスポートを禁止します。
implicit_reexport = False

; Optionalの型を明示的に宣言する必要があります。
no_implicit_optional = True

; エラーメッセージを見やすくフォーマットします。
; pretty = True

; エラーの発生した列番号を表示します。
show_column_numbers = True

; エラーコードを表示します。これは、特定のエラーを無視するための設定を行う際に便利です。
show_error_codes = True

; エラーメッセージのコンテキストを表示します。
show_error_context = True

; mypyがクラッシュした場合にトレースバックを表示します。
show_traceback = True

; すべてのstrictモード関連のオプションを有効にします。このオプションが有効になっている場合、以下のオプションも自動的に有効になります。
; strict = True

; 異なる型同士の等価性の比較を禁止します。
; strict_equality = True

; Noneと他の型の混在を許容しないようにします。
; strict_optional = True

; 戻り値がない関数やメソッドでのreturn文の省略に警告します。
warn_no_return = True

; 不要な型変換に警告します。
warn_redundant_casts = True

; Any`型を返す関数やメソッドに警告します。
warn_return_any = True

; 到達不能なコードに警告します。
warn_unreachable = True

; 使用されていないconfigオプションに警告します。
warn_unused_configs = True

; 使用されていない`# type: ignore`コメントに警告します。
warn_unused_ignores = True

; すべての警告を無効化する(一時的な利用を推奨)
; disable_error_code = all

